<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form  method="post" id="search-form"  action="/search">
      <label for="firstCity">First city:</label>
      <input type="text" id="firstCity" name="firstCity" required>

      <label for="secondCity">Second city:</label>
      <input type="text" id="secondCity" name="secondCity" required>
    
      <button type="submit">Search</button>
    </form>
  </body>
</html>
